/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #212121;
    font-family: 'Noto Sans', sans-serif;
}

/* Header */
header {
    /* I used the grb color code here instead of #85b1a8, to make the background transparant*/
    background-color: rgb(133, 177, 168, 0.5);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #212121;
    font-size: 125%;
}


/* Navigantion menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #212121;
}

nav {
    position: absolute;
    background-color: #85b1a8;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    background-color: #c0c6c1;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #85b1a8;
    color: #212121;
    padding: 1rem;
    font-size: 0.8rem;
}

/* Footer sections positioning */
.contact-section {
    flex: 1;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.social-media {
    flex: 1;
    text-align: right;
}

/* Style footer contact section */
.contact-section {
    margin-left: 10px;
    font-size: 0.8rem;
}

.contact-section a {
    text-decoration: none;
    color: currentColor;
    letter-spacing: 1.5px;
    margin-top: 1px;
    font-size: 0.7rem;
}

.contact-section a:hover {
    text-decoration: underline;
}

.contact-section p {
    display: flex;
    margin-bottom: 1px;
}

.contact-section i {
    padding-right: 3px;
}

/* Style footer logo */
.footer-logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1.2px;
}

.footer-logo span {
    margin: 0;
}

/* Style Footer social media icons */
#social-networks {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin-left: 1.5rem;
    color: #212121;
    margin-right: 15px;
}

.social-media li {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header(768px and up) */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.7rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 125%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content(768px and up) */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Footer(768px and up) */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #85b1a8;
        color: #212121;
        padding: 1rem;
        font-size: 0.8rem;
    }

    /* Footer sections positioning(768px and up) */
    .contact-section {
        flex: 1;
    }

    .footer-logo {
        flex: 1;
        text-align: center;
    }

    .social-media {
        flex: 1;
        text-align: right;
    }

    /* Style footer contact section(768px and up) */
    .contact-section {
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .contact-section a {
        text-decoration: none;
        color: currentColor;
        letter-spacing: 1.5px;
        margin-top: 1px;
        font-size: 0.7rem;
    }

    .contact-section a:hover {
        text-decoration: underline;
    }

    .contact-section p {
        display: flex;
        margin-bottom: 1px;
    }

    .contact-section i {
        padding-right: 3px;
    }

    /* Style footer logo(768px and up) */
    .footer-logo {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 1.2px;
    }

    .footer-logo span {
        margin: 0;
    }

    /* Style Footer social media icons(768px and up) */
    #social-networks {
        text-align: center;
        display: inline-block;
        list-style-type: none;
        margin-left: 1.5rem;
        color: #212121;
        margin-right: 15px;
    }

    .social-media li {
        display: inline-flex;
        justify-content: space-between;
        margin-right: 10px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #212121;
    }
}