/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #212121;
    font-family: 'Noto Sans', sans-serif;
}

/* Header */
header {
    background-color: rgb(109, 209, 193, 0.7);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

/* Navigantion menu */
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    padding-top: 10px;
}

#menu>li {
    margin-bottom: 2em;
}

.active {
    border-bottom: 1px solid #212121;
}

nav {
    position: absolute;
    /* made background less transparant for readability*/
    background-color: rgb(84, 160, 148, 0.9);
    color: #212121;
    font-weight: 600;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #83d5c8;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: url("../images/pexels-matthew-9500557_crop.jpeg") no-repeat center center/cover;
    background-color: #83d5c8;
}

.hero-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 1.5px;
    color: #ee7c2b;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 180px;
}

#hero p {
    display: flex;
    flex-direction: column;
    text-transform: none;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 1.4px;
    color: #fafafa;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.action-button {
    padding: 15px 25px;
    border-style: solid;
    border: 1px outset buttonborder;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #212121;
    background-color: #ff8833;
    border-color: #ff8833;
}

/* Info buttons section home page */
#buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 380px;
}

.buttons {
    width: 160px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    /*border: 1px outset buttonborder;*/
    border-radius: 100px;
    color: #212121;
    background-color: #3fbaa6;
    border-color: #3fbaa6;
    text-decoration: none;
}

/* About Us Page */
#about-page {
    display: flex;
    flex: 1;
    /* stack the children */
    flex-direction: column;
}

.about-content {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    order: 2;
}

.about-content h1 {
    color: #212121;
    font-size: 20px;
    padding-bottom: 30px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 25px;
    padding-bottom: 20px;
}

/* comment this out, because no image on mobile screens:
.about-image {
    background-image: url('../images/seaweed\ float\ for\ a.d.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: #68b9ac;
    order: 1;
}
*/

/* Meetup Page */
#meetup-page {
    display: flex;
    flex: 1;
    /* stack the children */
    flex-direction: column;

}

.meetup-content {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    order: 1;
}

.meetup-content h1 {
    color: #212121;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.meetup-content p {
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 20px;
    padding-bottom: 5px;
}

.safety {
    font-style: italic;
    margin-top: 40px;
}

/* comment this out, because no image on mobile screens:
.meetup-image {
    background-image: url('../images/pexels-rachel-claire-6761979_edit1.jpg');
    background-size: cover;
    background-position: center;
    background-color: #68b9ac;
    order: 2;
}
*/

.google-map {
    padding-bottom: 50%;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    height: 0;
    overflow: hidden;
}

.google-map iframe {
    position: absolute;
    width: 400px;
    height: 300px;
    border: solid 1.5px #212121;
}

/* Signup Page */
#signup-page {
    background-image: url("../images/pexels-flo-maderebner-1249545.jpg");
    background-color: #83d5c8;
    background-size: cover;
    background-position: 75%;
    padding: 40px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 1.1px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.text-input-experience {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 75px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 50px;
    border-style: solid;
    border: 1px outset buttonborder;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 17px;
    font-size: 80%;
    background-color: #ff8833;
    border-color: #ff8833;
    color: #212121;
    letter-spacing: 1.3px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #54a094;
    color: #212121;
    padding: 1rem;
    font-size: 0.7rem;
}

/* Style footer contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: 0.8rem;
}

.contact-section a {
    text-decoration: none;
    color: currentColor;
    letter-spacing: 1.5px;
    margin-top: 1px;
    font-size: 1rem;
}

.contact-section a:hover {
    text-decoration: underline;
}

.contact-section p {
    display: flex;
    margin-bottom: 1px;
}

.contact-section i {
    padding-right: 3px;
}

/* Style footer logo */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-logo span {
    margin: 0;
}

.footer-logo a {
    text-decoration: none;
    color: currentColor;
}

/* Style Footer social media icons */
.social-media {
    flex: 1;
}

#social-networks {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin-left: 1.5rem;
    color: #212121;
    margin-right: 15px;
}

.social-media li {
    display: inline-flex;
    margin-right: 5px;
    font-size: 1rem;
}

.social-media a {
    color: #212121;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header(768px and up) */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: none;
        color: #212121;
        font-weight: 350;
    }

    #menu {
        display: flex;
        padding-top: 20px;
        font-size: 100%;
    }

    #menu>li {
        padding-left: 1.7rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 16px;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #logo:hover {
        color: #ff8833;
    }


    /* Main content(768px and up) */

    /* Hero section */
    .hero-title {
        padding-top: 300px;
    }

    #hero p {
        display: flex;
        flex-direction: column;
        text-transform: none;
        font-size: 1rem;
        letter-spacing: 1.4px;
        color: #fafafa;
        text-align: center;
        padding-top: 40px;
        padding-left: 90px;
        padding-right: 90px;
    }

    .action-button:hover {
        background-color: #CC5500;
        border-color: #CC5500;
    }

    #buttons-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 200px;
        margin-left: 90px;
        margin-right: 90px;
    }

    .buttons:hover {
        background-color: #ee7c2b;
        border-color: #ee7c2b;
    }

    /* About us page (768px and up) */
    #about-page {
        display: flex;
        /* Line up the children */
        flex-direction: row;

    }

    .about-content {
        order: 1;
        flex: 1;
        padding-top: 120px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .about-content h1 {
        font-size: 22px;
        padding-bottom: 30px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
    }

    .about-content p {
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .about-image {
        order: 2;
        flex: 1;
        background-image: url('../images/seaweed\ float\ for\ a.d.jpg');
        background-size: cover;
        background-position: center;
        background-color: #83d5c8;
        padding-right: 100px;
    }

    /* Meetup Page (768px and up) */
    #meetup-page {
        display: flex;
        /* Line up the children */
        flex-direction: row;
    }

    .meetup-content {
        order: 1;
        flex: 1;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .meetup-content h1 {
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
    }

    .meetup-content p {
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 20px;
        padding-bottom: 5px;
    }

    .meetup-image {
        order: 2;
        flex: 1;
        background-image: url('../images/pexels-rachel-claire-6761979_edit1.jpg');
        background-color: #83d5c8;
        background-size: cover;
        background-position: center;
        padding-right: 120px;
    }

    .google-map {
        padding-bottom: 50%;
        margin-top: 10px;
        position: relative;
        height: 0;
        overflow: hidden;
    }

    .google-map iframe {
        position: absolute;
        width: 70%;
        height: 80%;
        border: solid 1.5px #212121;
    }

    /* Signup Page (768px and up) */
    #signup-page {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        top: 140px;
        left: 10%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .text-input:hover {
        border-color: #CC5500;
    }

    .text-input-experience:hover {
        border-color: #CC5500;
    }

    .join-button:hover {
        background-color: #CC5500;
        border-color: #CC5500;
    }

    /* Footer(768px and up) */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 0.8rem;
    }

    /* Style footer contact section(768px and up) */
    .contact-section {
        flex: 1;
        margin-left: 10px;
        font-size: 1rem;
        padding-left: 5px;
        align-items: start;
    }

    .contact-section a {
        text-decoration: none;
        color: currentColor;
        letter-spacing: 1.5px;
        margin-top: 1px;
        font-size: 1rem;
    }

    .contact-section a:hover {
        color: #ff8833;
    }

    .contact-section p {
        display: flex;
        margin-bottom: 1px;
    }

    .contact-section i {
        padding-right: 3px;
    }

    /* Style footer logo(768px and up) */
    .footer-logo {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 1.2px;
        margin-bottom: 0px;
    }

    .footer-logo span {
        margin: 0;
    }

    .footer-logo a:hover {
        color: #ff8833;
    }

    /* Style Footer social media icons(768px and up) */
    .social-media {
        flex: 1;
        text-align: right;
    }

    #social-networks {
        text-align: center;
        display: inline-block;
        list-style-type: none;
        margin-left: 1.5rem;
        color: #212121;
        margin-right: 15px;
    }

    .social-media li {
        display: inline-flex;
        justify-content: space-between;
        margin-right: 10px;
    }

    .social-media a:hover {
        color: #ff8833;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #212121;
    }

    /* About us page (992px and up) */
    #about-page {
        display: flex;
        height: 100%;
    }

    .about-content {
        flex: 1;
        padding-top: 140px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 40px;
    }

    .about-content h1 {
        font-size: 22px;
        padding-bottom: 30px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
    }

    .about-content p {
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .about-image {
        flex: 1;
        background-image: url('../images/seaweed\ float\ for\ a.d.jpg');
        background-size: cover;
        background-position: center;
        background-color: #83d5c8;
        padding-right: 200px;
    }
}